@font-face {
    font-family:'Kanit-Regular';
    src: url("./Kanit-Regular.ttf");
}

@font-face {
    font-family:'Kanit-Light';
    src: url("./Kanit-Light.ttf");
}



@font-face {
    font-family:'Aldrich-Regular';
    src: url("./Aldrich-Regular.ttf");
}

@font-face {
    font-family:'arial';
    src: url("./arial.ttf");
}

@font-face {
    font-family:'arialBold';
    src: url("./arialbd.ttf");
}

@font-face {
    font-family:'KronaOne-Regular';
    src: url("./KronaOne-Regular.ttf");
}

@font-face {
    font-family:'Lingxun-Serif-Bold';
    src: url("./Lingxun-Serif-Bold.ttf");
}
