.ant-select-dropdown {
  background-color: #2A2E35;
  border-radius: 10px;

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    border-radius: 10px;
    background-color: #2A2E35 !important;
    filter: brightness(85%);

    .ant-select-item-option-content {
      color: white;
      font-weight: 500;
    }
  }

  .ant-select-item-option-content {
    color: #fff;
    font-weight: 500;
  }

  .ant-select-item-option-active:not(.ant-select-item-option-selected) {
    background-color: #2A2E35;
    color: #fff;
    opacity: 0.8;
  }
}
