@import '~antd/dist/antd.css';
@import "./styles/override-antd-select-dropdown";
@import "./styles/override-pagination";


.app {
  width: 100%;
  overflow: hidden;
  background-color: #202225;
  font-family: 'campton';
}


::-webkit-scrollbar {
 display: none;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #00EBA4, #02A6F5) border-box;
  border-radius: 10px;
}



.ant-image-preview-img-wrapper {
  position: static !important;
}
.ant-image-preview-img {
  margin: auto;
}

.ant-btn {
  background-image: linear-gradient(to right, #00EBA4, #02A6F5);
  color: white;
  border: none;
  font-weight: 550;
  border-radius: 10px;
  transition: filter 0.5s;
  font-size: 1.2em;

  &:hover, &:focus {
    background-image: linear-gradient(to right, #0ee3a1, #0086c2);
    filter: brightness(120%);
    color: white;
  }
}

.ant-modal-close-icon {
  color: white;
}
.ant-modal-content {
  border-radius: 10px;
  background-color: #1D222D !important;
}
.ant-modal-title {
  color: white;
  font-weight: 550;
  font-size: 1.6rem;
}

.ant-modal-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: none;
  background-color: #1D222D !important;
}
