@import '~antd/dist/antd.css';
@import "./styles/override-antd-select-dropdown";
@import "./styles/override-pagination";


.app {
  width: 100%;
  overflow: hidden;
  background-color: #202225;
}

::-webkit-scrollbar {
  display: none;
}

.ant-image-preview-img-wrapper {
  position: static !important;
}
.ant-image-preview-img {
  margin: auto;
}

//.ant-btn {
//  background: #305099;
//  color: white;
//  border: none;
//  font-weight: 550;
//  border-radius: 1rem;
//
//  &:hover, &:focus {
//    background: #305099;
//    color: white;
//  }
//}

